<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>We got ourselves a situation here</title>
  </head>
  <body style="direction: ltr">
    <h1>Invalid user</h1>
    <p>
      We're sorry, but only users from <b><%= Settings.users_domain %></b> are allowed access.
    </p>
    <p style="align: center">
      <a href="/">kthxbye</a>
    </p>
    <hr>
  </body>
</html>
