<script type="text/javascript"> window.restData = <%= @rests.to_json.html_safe %>
</script>

<div id="top-bar">
  <div id="top-bar-row">
    <div id="headline">
      האוכל הגיע
    </div>

    <div id="company-logo">
      <img src="<%= ENV["COMPANY_LOGO"] %>"  />
    </div>
  </div>
</div>
<div id="tableContainer">
  <% if @dinner_rests %>
  <div class="dinner">
    <div class="subtitle">
      <h2>
ארוחת ערב
      </h2>
    </div>
    <%= render partial: "rests_table", locals: {rests: @dinner_rests, dinner: true} %>
  </div>
  <% end %>
  <label for="filter"> סינון:</label> <input type="text" id="filter" />

  <div id="linksDiv">
    <% if @showing_all %>
    <a href="/">
      הצג משלוחים צפויים בלבד
    </a>
    <% else %>
    <i>
      מציג משלוחים צפויים
    </i>
    |
    <a href="/?all=1">
      הצג הכל
    </a>
    <% end %>
  </div>
  <%= render partial: "rests_table", locals: {rests: @rests_raw, dinner: false} %>
</div>
<div id="cache">
  <img src="loading.gif">
  <img src="check.png">
</div>
