<!DOCTYPE html>
<html>
<head>
  <title>Food is here</title>
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
  <!-- <%= stylesheet_link_tag    "application", :media => "all" %> -->
  <!-- <%= javascript_include_tag "application" %> -->
  <!-- <%= csrf_meta_tags %> -->
</head>
<body>

<!-- <%= yield %> -->
<h1> We're sorry, the site is under maintenance</h1>

</body>
</html>
